<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.ename %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.etype %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @event.tickets %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.edate %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @event.etime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Back', events_path %>
